<!-- running a post request -->
<form action="/prehistoric_creatures" method="post">
    <label for="prehistoricCreaturesType">Type:</label>
    <input type="text" name="type" id="prehistoricCreaturesType">

    <label for="prehistoricCreaturesImage_url">Image:</label>
    <input type="text" name="img_url" id="prehistoricCreaturesimg_url">

    <button type="submit">Add a New prehistoric creature!</button>
</form>